html,
body {
  min-height: 100%;
}

svg {
  height: 1.5rem;
  width: 1.5rem;
}

.diff {
  background-color: #dcdcdc;
}

.dark .diff {
  background-color: #ccc;
}

.addition {
  color: green;
}

.removal {
  color: red;
}
